<h4 ng-if="product.userId">Products</h4>
<div class="product" ng-repeat="product in productList">
  <div class="image"><img src="images/desktop.jpg" alt="" style="width:100px; height: 100px;"></div><!--end of image-->
        <div class="content">
            <div class="top">
            <a class="remove" ng-click="remove(product.id)">Remove</a><div class="clear"></div>
                <p  ng-click="singleProductfn(product.id);" class="heading">{{product.title}}</p>
                <span class="price">Price: {{product.price}}</span>

            </div>
            <div class="clear"></div>
            <div class="bottom">
                <span class="date">Posted Date: {{product.createdDate}}</span>
                <span class="by">Posted By: {{product.userId}}</span>
                <span class="by">Status: {{product.status}}</span>
            </div>
        </div><!--end of content-->
</div><!--End of product-->