<!--signuppage-->
<div class="signup">
    <div class="signup-box">
        <span>User Name </span><input type="text" name="username" value="Username"><div class="clear"></div>
        <span>Email </span><input type="email" name="email" value="Email"><div class="clear"></div>
        <span>Password </span><input type="password" name="password" value="Password"><div class="clear"></div>
        <span>Confirm Password </span><input type="password" name="password" value="Password"><div class="clear"></div>
        <button type="submit" value="SignUp" name="signup" ng-click="signUp();">Sign Up</button>
        <button type="button" value="Cancel" name="cancel">Cancel</button></div>
</div><!--End of signup-->