<!--Single product page-->
<div class="prod">
    <div class="slider"><img src="images/desktop.jpg" alt="" style="width: 300px; height: 250px;"></div><!--slider-->
    <div class="desc">
        <span class="heading">Mac Book Pro Desktop</span><div class="clear"></div>
        <span class="price">Price: 2,10,000</span><div class="clear"></div>
        <span class="date">Posted date: 20/11/2016</span><div class="clear"></div>
        <span class="by">Posted By: John Deo</span><div class="clear"></div>
    </div>
</div><!--prod-->
<div class="clear"></div>