<!DOCTYPE html>
<html>
<head>
    <title>Advertisement Project</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="advApp">
    <div class="container">
        <header>
            <div class="header-box">
                <a href="/#/home"><img src="images/logo.png" alt=""></a>
                <span class="login">
                <span ng-if="userdata.userId" class="name">Welcome {{userdata.userId}}!</span>
                <a href="/#/home" class="button" ng-if="userdata.userId">Home</a>
                <a href="/#/submitAd" class="button" ng-if="userdata.userId">Submit Ad</a>
                <a href="/#/editAd" class="button" ng-if="userdata.userId" ng-hide="true">Edit Ad</a>
                <a href="/#/login" ng-if="!userdata.userId">Login</a>
                <a href="/#/logout" ng-if="userdata.userId" ng-click="logout()">Logout</a>
                <a href="/#/signup" ng-if="!userdata.userId"> | Sign Up</a>
                </span>
            </div><!--End of header-box-->
        </header><!--End of header-->
        <div class="clear"></div>

        <div ng-view></div>

        <!-- <footer>
            <span>© 2016 Xoriant Corporation. All Rights Reserved.</span>
            <span> | Terms of Use</span>
            <span> | Privacy Statements</span>
            <span> | Sitemap</span>
        </footer><!--End of footer-->
    </div><!--end of container-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="js/app.js"></script>
   <!--  <script src="js/controllers/loginController.js"></script>
    <script src="js/controllers/advAppController.js"></script>
    <script src="js/controllers/editAdController.js"></script>
    <script src="js/controllers/productController.js"></script>
    <script src="js/controllers/signupController.js"></script>
    <script src="js/controllers/submitAdController.js"></script>
    <script src="js/directives/editAdDirective.js"></script>
    <script src="js/directives/loginDirective.js"></script>
    <script src="js/directives/productDirective.js"></script>
    <script src="js/directives/signupDirective.js"></script>
    <script src="js/directives/singleProductDirective.js"></script>
    <script src="js/directives/submitAdDirective.js"></script>
    <script src="js/services/submitAdService.js"></script>
    <script src="js/services/loginService.js"></script>
    <script src="js/services/signupService.js"></script>
 -->
</body>
</html>